<nav class='navbar navabr-expand-sm bg-dark navbar-dark fixed-bottom'>
    <div class='footer-bottom'>
        <div class='container'>
              <div class='row'>
                    <div class='col-sm-12 text-center'>
                      <div class='copyright-text'>
                        <center>
                        <p class="text-white"> @ 2022 Copyright Digital    <a href='https://www.basawa.com/'>basawa.com</a></p>
                        </center>
    
                      </div>
    
                    </div>
            </div>
              
        </div>
    </div>
    </nav>
    