
{% include 'base.html' %}

{% include 'navigation.html' %}

{% block content %}
  <style>input{background-color:lightblue;}</style>
    <form name='register' method='post' action='../insertuser/'>
        {% csrf_token %}
         
        <pre>
   <div class='d-flex flex-nowrap width: 100%; height:100%;' style='border: 4px solid #000;'>
      <div class='order-2 p-2'>
            
                  <label>Party Type*</label> 
                  <input type='text' name='tcustomer' value='' placeholder='Customer' width='20' size='60' required>                        
                  <label>Enter Address Line I</label>
                  <input type='text' name='tadd1' value='' placeholder='Party Address Line I' width='20' size='60' >                     
                  <label> Enter Email*</label>
                  <input type='email' name='temail' value='' placeholder='party email' width='20' size='60' required>   
                  <label>Enter Land Line No</label>
                  <input type='text' name='tlln' value='' placeholder='party phone' width='20' size='60'>              
                  <label> Enter Contact Person</label>
                  <input type='text' name='tcp' value='' placeholder='party contact person' width='20' size='60'>
               
      </div>        
      <div class='order-1 p-2'>
           
               <label>Select City* </label>
                 <select class='form-select' aria-label='select example' name='tcity' width='20'  required> 
                   <option value='' hidden>select_city</optin>
                     <option disabled></option>
                     <option>Noida</option>
                     <option>Lucknow</option>
                 </select>
           
               <label>Enter Address Line II</label>
               <input type='text' name='tadd2' value='' placeholder='Party Address Line II' width='20' size='60'>        
               <label>Enter Mobile</label>
               <input type='text' name='tmob' value=''placeholder='party mobile' width='20' size='60'>       
               <label>Enter GStNO</label>
               <input type='text' name='tgstno' value='' placeholder='party gstno' width='20' size='60'>         
      
               <input type='submit' name='reg' value='click to register' >
      </div>
   </div>
        </pre>        

    </form>
      
{% endblock content %}

{% include 'footer.html' %}